#page{
  border: 2px solid black;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

p{
  font-size: 30px;
  margin: 0;
}

#banner{
  position: relative;
  border: 2px solid green;
  box-sizing: border-box;
  height: 500px;
}

.page>*{
  width: 100%;
}

#logo{
  display: block;
  width: 300px;
  height: 200px;
  border: 2px solid blueviolet;
  box-sizing: border-box;
}

#page_header{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 700px;
  text-align: right;
  border: 2px solid brown;
  box-sizing: border-box;
  font-size: xx-large;
  padding: 1em;
}


#menu{
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  border: 2px solid lawngreen;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: table;
}

#menu>li{
  width: 25%;
  border: 2px solid orchid;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#about{
  height: 200px;
  border: 2px solid cornflowerblue;
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
  padding: 2vw 3vw;
  box-sizing: border-box;
  font-size: 23px;
}

.module{
  height: 500px;
  border: 2px solid darkgoldenrod;
  box-sizing: border-box;
}

.module>div, .module>img{
  float: left
}

.module>img{
  display: block;
  width: 60%;
  height: 100%;
  border: 2px solid lawngreen;
  box-sizing: border-box;
}

.module>div{
  position: relative;
  width: 40%;
  height:  100%;
  border: 2px solid blue;
  box-sizing: border-box;
}

.module>div:after{
  content: "";
  display: block;
  clear: both;
}

.module>div>div {
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 8%;
  box-sizing: border-box;
}

.module>div>div>div {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 28px;
  text-align: justify;
}

#contact{
  height: 400px;
  border: 2px solid navy;
  box-sizing: border-box;
}

#contact>div{
  float: left;
}

#contact_data{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  border: 2px solid red;
  box-sizing: border-box;
  flex-direction: column;
  font-size: 26px;
  padding-left: 8%;
  line-height: 1.5em;
}

#contact_data> *{
  display: inline;
}

#contact_data>p{
  font-size: 30px;
}

#contact:after{
  content: "";
  display: block;
  clear: both;
}

#map{
  width: 50%;
  height: 100%;
  border: 2px solid orchid;
  box-sizing: border-box;
}

#gmap_canvas{
  width: 100%;
  height: 100%;
}

#form{
  display: block;
  height: 600px;
  border: 2px solid navy;
  box-sizing: border-box;
  padding: 50px 0;
}

#form label{
  display: block;
  width: 80%;
  margin: auto;
}

#form>div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}

#form label>input[type="text"],
#form label>textarea{
  width: 100%;
}

#form input[type="submit"]{
  padding: 5px 20px;
}

#form label>textarea {
  height: 200px;
  resize: none;
}

#footer{
  border: 2px solid black;
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px 25px;
  columns: 250px 3;
  text-align: center;
  line-height: 40px;
}

#footer>a{
  border: 1px solid black;
  display: inline-block;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  #page{
    width: 100%;
  }

  #about{
    font-size: 20px;
    padding: 40px;
  }

  .module>div>div>div {
    font-size: 25px;
  }

  }

@media only screen and (max-width: 800px) {

  #page_header{
    width: 100%;
    font-size: x-large;
  }

  .module>div, .module>img{
    float: none;
    clear: both;
    width: 100%;
    height: fit-content;
    height:-moz-fit-content;
    height:-webkit-fit-content;
  }

  .module>img{
    height: 300px;
  }

  .module{
    height: fit-content;
    height:-moz-fit-content;
    height:-webkit-fit-content;
  }

  .module>div>div{
    width: auto;
    height: auto;
  }

  #contact_data{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
  }

  #contact{
    height: auto;
  }

  #map{
    display: none;
  }

  #menu{
    position: fixed;
    height: 8vh;
    top: unset;
    bottom: 0;
  }

  #page{
    margin-bottom: 8vh;
  }
}
